
<div>
  <input type:"text="type:"text" ng-model="newUserName"/>
  <button ng-click="addUser();">+User</button>
  <p>{{data | json}}</p>
  <div ng-repeat="user in users" ng-click="removeUser(user);">{{user.nome}}</div>
</div>
<section class="login-wrap">
  <section class="login">
    <form name="loginForm">
      <md-input-container>
        <label>Login</label>
        <input type="email" required="" name="email" ng-model="email"/>
        <div ng-messages="loginForm.email.$error" role="alert">
          <div ng-if="showRequiredError">
            <div ng-message="required">Este campo é obrigatório.</div>
          </div>
        </div>
      </md-input-container>
      <md-input-container>
        <label>Senha</label>
        <input type="password" required="" name="password" ng-model="password"/>
        <div ng-messages="loginForm.password.$error" role="alert">
          <div ng-if="showRequiredError">
            <div ng-message="required">Este campo é obrigatório.</div>
          </div>
        </div>
      </md-input-container>
      <md-progress-circular ng-if="loading" md-mode="indeterminate" value="..." md-diameter="20"></md-progress-circular>
      <md-button ng-click="login();" class="md-raised md-primary">Entrar</md-button>
    </form>
  </section>
</section>