
<!-- div-->
<!-- 	input(type:"text" ng-model="newUserName")-->
<!-- 	button(ng-click="addUser();") +User-->
<!-- 	p {{data | json}}-->
<!-- 	div(ng-repeat="user in users" ng-click="removeUser(user);") {{user.nome}}-->
<section class="login-wrap">
  <section class="login">
    <form name="loginForm">
      <md-input-container>
        <label>Email</label>
        <input type="email" required="" name="email" ng-model="email"/>
        <div ng-messages="loginForm.email.$error" role="alert">
          <div ng-if="showRequiredError">
            <div ng-message="required">Este campo é obrigatório.</div>
          </div>
        </div>
      </md-input-container>
      <md-input-container>
        <label>Senha</label>
        <input type="password" required="" name="password" ng-model="password"/>
        <div ng-messages="loginForm.password.$error" role="alert">
          <div ng-if="showRequiredError">
            <div ng-message="required">Este campo é obrigatório.</div>
          </div>
        </div>
      </md-input-container>
      <section class="login-footer">
        <section class="info-login">
          <section class="progress-login">
            <md-progress-circular ng-show="loading" md-mode="indeterminate" value="..." md-diameter="25"></md-progress-circular>
          </section>
          <section ng-show="error" class="error-login"><span ng-bind="error"></span></section>
        </section>
        <section class="button-login">
          <md-button ng-click="login();" class="md-raised md-primary">Entrar no Sistema</md-button>
        </section>
      </section>
    </form>
  </section>
</section>