md-dialog(aria-label="Caixa Cadastrar Aluno")
	form(name="newUserForm")
		md-toolbar(md-theme="default") 
			.md-toolbar-tools
				h1 Cadastrar Novo Aluno
				span(flex="")
				md-button(ng-click="answer('not applicable')") Cancelar
				// ng-md-icon(icon="close" ng-click="answer('not applicable')" style="fill:white" size="25")
		md-dialog-content
			section.new-user
				section.avatar
					img(class="icon-avatar" ng-if="!newUser.image")
					img(class="img-responsive img-selected" ng-src="{{UCURL.url}}{{newUser.image}}" ng-if="newUser.image")
					input(uploadcare-widget ng-model="object.image.info.uuid" data-public-key="eb39c5def657fcd88946" data-locale="pt" data-tabs="file facebook gdrive dropbox instagram evernote flickr skydrive" data-images-only="true" data-path-value="true" data-preview-step="true" data-clearable="true" data-multiple="false" data-crop="4:4" on-upload-complete="onUCUploadComplete(info)" on-widget-ready="onUCWidgetReady(widget)" value="{{ object.image.info.cdnUrl }}")
				section.attributes
					section.login-name
						md-input-container
							label Nome
							input(md-maxlength="20" required name="name" ng-model="newUser.name")
							div(ng-messages="newUserForm.name.$error" role="alert")
								div(ng-if="ishowRequiredError")
									div(ng-message="required") Este campo é obrigatório.
								div(ng-message="md-maxlength") Nome com no máximo 30 caracteres
					section.login-surname
						md-input-container
							label Sobrenome
							input(md-maxlength="20" required name="surname" ng-model="newUser.surname")
							div(ng-messages="newUserForm.surname.$error" role="alert")
								div(ng-if="ishowRequiredError")
									div(ng-message="required") Este campo é obrigatório.
								div(ng-message="md-maxlength") Sobrenome com no máximo 30 caracteres
					section.login-birthday
						md-input-container
							label Data de Nascimento
							input(type="date" required name="birthday" ng-model="birthday")
							div(ng-messages="newUserForm.birthday.$error" role="alert")
								div(ng-if="ishowRequiredError")
									div(ng-message="required") Este campo é obrigatório.
					section.login-phone
						md-input-container
							label Telefone
							input(type="number" required name="phone" ng-model="newUser.phone")
							div(ng-messages="newUserForm.phone.$error" role="alert")
								div(ng-if="ishowRequiredError")
									div(ng-message="required") Este campo é obrigatório.
		.md-actions(layout="row")
			span(flex="")
			md-button.md-primary(ng-click="answer('not useful')")
				| Cancelar
			md-button.md-primary.button-silver(ng-click="create_user();")
				| Salvar Aluno
