section.admin-wrap
	section.admin-aside
		section.administration-action-back
			a(ui-sref="core.user.listTraining({userId:12})")
				ng-md-icon(icon="keyboard_backspace" style="fill:grey" size="45")
				p Voltar ao Sistema
		section.perfil-administration
			img(ng-src="https://www.ucarecdn.com/dd855b46-c674-46eb-ab7b-e1326f05e8c1/-/crop/169x174/86,5/-/preview/120x120/" ng-click="coreEvents.toggle_menu();" holder='holder.js/80x80?auto=yes&theme=vine&text=BRU')
			p.admin-perfil-title Marcos
			p.admin-perfil-subtitle Admin
		section.perfil-administration-menu
			ul
				li(ui-sref-active="active" ui-sref="administration.adminBill")
					a Conta
				// li(ui-sref-active="active" ui-sref="administration.adminGym.adminGymOwner")
				li(ng-class="{ active: $state.includes('administration.adminGym')}"  ui-sref="administration.adminGym.adminGymOwner")
					a Academia
				li
					a Treino
				li
					a Idioma
				li
					a Tema
	section.admin-content-wrap
		md-card
			md-card-content
				section.admin-content(ui-view="content-admin")
					section.admin-content-menu(ui-view="admin-content-menu")
						p Admin-content-menu-menu
					section.admin-content-menu-content(ui-view="admin-content-menu-content")
						p Admin-content-menu-content
