section.admin-wrap
	section.admin-aside
		p aside
	section.admin-content-wrap
		md-card
			md-card-content
				section.admin-content(ui-view="content-admin")
					section.admin-content-menu(ui-view="admin-content-menu")
						p Admin-content-menu-menu
					section.admin-content-menu-content(ui-view="admin-content-menu-content")
						p Admin-content-menu-content
