
<section class="admin-wrap">
  <section class="admin-aside">
    <p>aside</p>
  </section>
  <section class="admin-content-wrap">
    <md-card>
      <md-card-content>
        <section ui-view="content-admin" class="admin-content">
          <section ui-view="admin-content-menu" class="admin-content-menu">
            <p>Admin-content-menu-menu</p>
          </section>
          <section ui-view="admin-content-menu-content" class="admin-content-menu-content">
            <p>Admin-content-menu-content</p>
          </section>
        </section>
      </md-card-content>
    </md-card>
  </section>
</section>