
<section class="admin-wrap">
  <section class="admin-aside">
    <section class="administration-action-back"><a ui-sref="core.user.listTraining({userId:12})">
        <ng-md-icon icon="keyboard_backspace" style="fill:grey" size="45"></ng-md-icon>
        <p>Voltar ao Sistema</p></a></section>
    <section class="perfil-administration"><img ng-src="https://www.ucarecdn.com/dd855b46-c674-46eb-ab7b-e1326f05e8c1/-/crop/169x174/86,5/-/preview/120x120/" ng-click="coreEvents.toggle_menu();" holder="holder.js/80x80?auto=yes&amp;theme=vine&amp;text=BRU"/>
      <p class="admin-perfil-title">Marcos</p>
      <p class="admin-perfil-subtitle">Admin</p>
    </section>
    <section class="perfil-administration-menu">
      <ul>
        <li ui-sref-active="active" ui-sref="administration.adminBill"><a>Conta</a></li>
        <!-- li(ui-sref-active="active" ui-sref="administration.adminGym.adminGymOwner")-->
        <li ng-class="{ active: $state.includes('administration.adminGym')}" ui-sref="administration.adminGym.adminGymOwner"><a>Academia</a></li>
        <li><a>Treino</a></li>
        <li><a>Idioma</a></li>
        <li><a>Tema</a></li>
      </ul>
    </section>
  </section>
  <section class="admin-content-wrap">
    <md-card>
      <md-card-content>
        <section ui-view="content-admin" class="admin-content">
          <section ui-view="admin-content-menu" class="admin-content-menu">
            <p>Admin-content-menu-menu</p>
          </section>
          <section ui-view="admin-content-menu-content" class="admin-content-menu-content">
            <p>Admin-content-menu-content</p>
          </section>
        </section>
      </md-card-content>
    </md-card>
  </section>
</section>