section.gym-content-menu-wrap
	md-tabs(md-center-tabs="true" md-selected="0")
		md-tab(ui-sref="administration.adminGym.adminGymOwner")
			span Academia
		md-tab(ui-sref="administration.adminGym.adminGymStaff")
			span Funcionários
		md-tab(ui-sref="administration.adminGym.adminGymMembers")
			span Alunos
