
<section class="gym-content-members-wrap">
  <section class="gym-content-members-add-action">
    <md-button title="Adicionar Funcionário" ng-click="staffDialog($event)" class="md-raised md-primary"> 
      <ng-md-icon icon="add_circle_outline" style="fill:white" size="25"></ng-md-icon>Aluno
    </md-button>
  </section>
  <section class="gym-content-members-search">
    <md-input-container md-no-float="">
      <input placeholder="Pesquisar Funcionário" ng-model="bindModel.groupName"/>
    </md-input-container>
  </section>
  <section class="gym-content-members-content-wrap">
    <section class="gym-content-members-content">
      <ul class="gym-content-members-list">
        <li ng-repeat="n in [1,2,3,4,5,6,7] track by $index" class="gym-content-members-item angular-animate">
          <ds-user></ds-user>
        </li>
      </ul>
    </section>
  </section>
</section>