section.gym-content-members-wrap
	section.gym-content-members-new
		md-button(class="md-raised md-primary" title= "Adicionar Funcion치rio" ng-click="newMemberDialog($event)") 
			ng-md-icon(icon="add_circle_outline" style="fill:white"  size="25")
			| Aluno
	section.gym-content-members-search
		md-input-container(md-no-float='')
			input(placeholder='Pesquisar Aluno' ng-model="member")
	section.gym-content-members-content-wrap
		section.gym-content-members-content
			md-content.gym-content-members-scroll
				section.gym-content-members-list
					// section.gym-content-members-item(ng-repeat="n in [1,2,3,4,5,6,7,8,9,10,11,12] track by $index" class="angular-animate")
					section.gym-content-members-item(ng-repeat="n in [1,2,3,4,5,6,7,8,9,10,11,12] track by $index")
						ds-user
							section.ds-user-item--image
								img(ng-src="https://www.ucarecdn.com/ae73a3d6-f816-4a0e-9d21-18528234b2cc/-/crop/175x175/89,0/-/preview/53x53/"  holder='holder.js/53x53?auto=yes&theme=sky&text=BRU')
							section.ds-user-item--name
								p Bruno Alexandre
								span.ds-user-item--type Professor
							section.ds-user-item--switch
								md-switch.md-primary(md-no-ink='' title="{{active}}" aria-label='ativar Professor' ng-init='active=true' ng-model='active')
									// | Switch (md-primary): No Ink
							section.ds-user-item--edit(ng-click="editMemberDialog($event,'bruno')")
								ng-md-icon(icon="mode_edit" title="Editar Funcion치rio" style="fill:grey"  size="25")
							section.ds-user-item--delete
								ng-md-icon(icon="clear" tooltip-lazy="true"  title="Excluir Funcion치rio" style="fill:grey"  size="25")
							// section.ds-user-item--delete
							// 	ng-md-icon(icon="clear" tooltips  tooltip-lazy="true"  tooltip-title="Excluir Funcion치rio" tooltip-size="small" style="fill:grey"  size="25")
