section.gym-content-menu-wrap
	md-tabs(md-center-tabs="true" md-autoselect  md-selected="0")
		md-tab
			// md-tab-label
			span
				a(href="") Academia
		md-tab
			span
				a(href="") Funcionários
		md-tab
			span
				a(href="") Alunos
