section.gym-content-owner-wrap
	h1 Dalton Morais
	// p.owner-subtitle Academia
	section.info-gym-owner
		p.info-gym-item
			span.info-gym-attribute Responsável:
			span.info-gym-value Dalton Morais Silva
		p.info-gym-item
			span.info-gym-attribute Endereço:
			span.info-gym-value Euclides Cinha Neto, 55, Jardim Alvorada, Guaxupé-MG
		p.info-gym-item
			span.info-gym-attribute Contato:
			span.info-gym-value 35-35512043
	section.action-gym-owner
		md-button(class="md-raised md-primary") Editar

