section.gym-content-staff-wrap
	section.gym-content-staff-add-action
		md-button(class="md-raised md-primary" title= "Adicionar Funcionário" ng-click="staffDialog($event)") 
			ng-md-icon(icon="add_circle_outline" style="fill:white"  size="25")
			| Funcionário
	section.gym-content-staff-search
		md-input-container(md-no-float='')
			input(placeholder='Pesquisar Funcionário' ng-model="bindModel.groupName")
	section.gym-content-staff-content-wrap
		section.gym-content-staff-content
			ul.gym-content-staff-list
				li.gym-content-staff-item(ng-repeat="n in lista track by $index" class="angular-animate")
					ds-user
