section.gym-content-staff-wrap
	section.gym-content-staff-add-action
		md-button(class="md-raised md-primary" title= "Adicionar Funcionário" ng-click="newStaffDialog($event)") 
			// ng-md-icon(icon="add_circle_outline" style="fill:white"  size="25")
			| Inserir Funcionário
	section.gym-content-staff-search
		md-input-container(md-no-float='')
			input(placeholder='Pesquisar Funcionário' ng-model="bindModel.groupName")
	section.gym-content-staff-content-wrap
		section.gym-content-staff-content
			md-content.gym-content-staff-scroll
				ul.gym-content-staff-list
					// li.gym-content-staff-item(ng-repeat="n in lista track by $index" class="angular-animate")
					li.gym-content-staff-item(ng-repeat="n in lista track by $index")
						ds-user
							section.ds-user-item--image
								img(ng-src="https://www.ucarecdn.com/ae73a3d6-f816-4a0e-9d21-18528234b2cc/-/crop/175x175/89,0/-/preview/53x53/"  holder='holder.js/53x53?auto=yes&theme=sky&text=BRU')
							section.ds-user-item--name
								p Bruno Alexandre
								span.ds-user-item--type Professor
							section.ds-user-item--switch
								md-switch.md-primary(md-no-ink='' title="{{active}}" aria-label='ativar Professor' ng-init='active=true' ng-model='active')
									// | Switch (md-primary): No Ink
							section.ds-user-item--edit(ng-click="editStaffDialog($event,'bruno')")
								ng-md-icon(icon="mode_edit"  tooltip-delay="900" title="Editar Funcionário" tooltip-size="small" style="fill:grey"  size="25")
							section.ds-user-item--delete
								ng-md-icon(icon="clear" tooltips  tooltip-lazy="true"  tooltip-title="Excluir Funcionário" tooltip-size="small" style="fill:grey"  size="25")
