md-dialog(flex="85" aria-label="responsavel")
	md-toolbar(md-theme="default") 
		.md-toolbar-tools
			h1 Proprietário da Academia
			span(flex="")
			md-button(ng-click="answer('not applicable')") Fechar
			// ng-md-icon(icon="close" ng-click="answer('not applicable')" style="fill:white" size="25")
	md-dialog-content
		section.owner-admin-dialog-wrap
			p Proprietario
	.md-actions(layout="row")
		span(flex="")
		// md-button.md-primary(ng-click="answer('not useful')")
		// 	| Cancelar
		md-button.md-primary.button-silver(ng-click="answer('useful')")
			| Cancelar
