section.home-menu-wrap
	section.home-menu
		md-tabs(md-center-tabs="true" md-selected="0")
			md-tab
				span
					a(href="") Plano Treinamento
			md-tab
				span Painel
			md-tab
				span Notificações
			md-tab
				span Perfil
