md-dialog(flex="85" aria-label="funcionário")
	md-toolbar(md-theme="default") 
		.md-toolbar-tools
			h1 Adicionar Funcionário
			span(flex="")
			md-button(ng-click="cancel()") Fechar
			// ng-md-icon(icon="close" ng-click="answer('not applicable')" style="fill:white" size="25")
	md-dialog-content
		section.staff-admin-dialog-wrap
			section.staff-admin-dialog-content
				section.staff-admin-dialog-content--image
					img(ng-src="https://www.ucarecdn.com/ae73a3d6-f816-4a0e-9d21-18528234b2cc/-/crop/175x175/89,0/-/preview/100x100/"  holder='holder.js/100x100?auto=yes&theme=sky&text=BRU')
					uploadcare-widget(ng-model="object.image.info.uuid" data-public-key="eb39c5def657fcd88946" data-locale="pt" data-tabs="file facebook gdrive dropbox instagram evernote flickr skydrive" data-images-only="true" data-path-value="true" data-preview-step="true" data-clearable="true" data-multiple="false" data-crop="4:4" on-upload-complete="onUCUploadComplete(info)" on-widget-ready="onUCWidgetReady(widget)" value="{{ object.image.info.cdnUrl }}")
				section.staff-admin-dialog-content--perfil
					section.staff-admin-dialog-content--name
						md-input-container
							label Nome Funcionário
							input(md-maxlength="20" required name="name" ng-change="change('staff')" ng-model="staff.name")
							div(ng-messages="staffForm.name.$error" role="alert")
								div(ng-if="ishowRequiredError")
									div(ng-message="required") Este campo é obrigatório.
								div(ng-message="md-maxlength") Nome com no máximo 30 caracteres
					section.staff-admin-dialog-content--surname
						md-input-container
							label Sobrenome
							input(md-maxlength="20" required name="name" ng-change="change('staff')" ng-model="staff.name")
							div(ng-messages="staffForm.name.$error" role="alert")
								div(ng-if="ishowRequiredError")
									div(ng-message="required") Este campo é obrigatório.
								div(ng-message="md-maxlength") Nome com no máximo 30 caracteres
				section.staff-admin-dialog-content--email
					md-input-container
						label Email
						input(md-maxlength="30" required name="name" ng-change="change('staff')" ng-model="staff.email")
						div(ng-messages="staffForm.name.$error" role="alert")
							div(ng-if="ishowRequiredError")
								div(ng-message="required") Este campo é obrigatório.
							div(ng-message="md-maxlength") Nome com no máximo 30 caracteres
				section.staff-admin-dialog-content--birthday
					md-input-container
						label Data Nascimento
						input(type="date" required name="name" ng-change="change('staff')" ng-model="staff.birthday")
						div(ng-messages="staffForm.name.$error" role="alert")
							div(ng-if="ishowRequiredError")
								div(ng-message="required") Este campo é obrigatório.
							div(ng-message="md-maxlength") Nome com no máximo 30 caracteres
				section.staff-admin-dialog-content--phone
					md-input-container
						label Celular
						input(type="number" md-maxlength="10" required name="name" ng-change="change('staff')" ng-model="staff.phone")
						div(ng-messages="staffForm.name.$error" role="alert")
							div(ng-if="ishowRequiredError")
								div(ng-message="required") Este campo é obrigatório.
							div(ng-message="md-maxlength") Nome com no máximo 30 caracteres
				section.staff-admin-dialog-content--permission
					p.staff-admin-dialog-content--permission-title Cargo:
					md-radio-group(ng-model='staff.permission')
						md-radio-button.md-primary(value='Administrador') Administrador
						md-radio-button.md-primary(value='Professor') Professor


	.md-actions(layout="row")
		span(flex="")
		md-button.md-primary(ng-click="cancel()")
			| Cancelar
		md-button.md-primary.button-silver(ng-click="save()")
			| Salvar
