section.train-content-menu-wrap
	md-tabs(md-center-tabs="true" md-selected="0")
		md-tab(ui-sref="administration.adminTrain.adminTrainExercises")
			span Nomes Exercícios
		md-tab(ui-sref="administration.adminTrain.adminTrainMethod")
			span Métodos Treinos
