.login-wrap
	col(1/1,gutter:0)
	height 100%
	width 100%
	background url('../../../../images/backgroud.jpg') center center no-repeat fixed
	background-size border-box
	position relative
	.login
		col(8/12,-2/12,gutter:0)
		box-sizing border-box
		height 21em
		+below(800px)
			height 23em
		position absolute
		+desktop()
			height 18em
			col(5/12,3.5/12,gutter:0)
			position absolute
			padding 1%
		+hd()
			col(4/12,4/12,gutter:0)
			position absolute
		top 0
		left 0
		right 0
		bottom 0
		margin auto
		padding 2%
		background-color white
		box-shadow 0 9px 15px 0 rgba(0,0,0,.37)
		.login-footer
			col(8/8,gutter:0)
			.info-login
				col(8/8,gutter:0)
				text-align center
				.progress-login
					position absolute
					// bottom 3.2em
					left 1em
				.error-login
					col(8/8,gutter:0)
					box-sizing border-box
					color palette('Red','500')
					margin-bottom 2%
					
			.button-login
				padding-right 5em
				padding-left 5em
				button
					font-size 120%
					stack()
					// font-weight bold
