section.ds-exercise-select-item
	section.ds-exercise-item-wrap(ng-class="{'active': isOpened}")
		section.ds-exercise-item-closed-wrap(ng-if="!isOpened" ng-click="open_exerc();")
			section.ds-exercise-item-closed
				section.ds-exercise-item-closed-title
					p {{group.group}}
				section.ds-exercise-item-closed-resume
					span 12 Exercícios
						ng-md-icon(icon="expand_more" style="fill:grey"  size="17")
		section.ds-exercise-item-opened-wrap(ng-if="isOpened" class="animated fadeIn" )
			section.ds-exercise-item-opened
				section.ds-exercise-item-opened-title(ng-click="close_exerc();")
					p {{group.group}}
				section.ds-exercise-item-opened-resume
					md-button.md-warn(ng-click="removeGroup($event,group);") Excluir Grupo
			section.ds-exercise-item-opened-content-wrap
				section.ds-exercise-item-opened-content
					md-content.ds-exercise-select-item-scroll
						span(ng-repeat="(key,value) in group.exercises") {{value.name}}
							ng-md-icon(icon="close" style="fill:black"  size="19" ng-click="removeExercise(group.$id,key)")
			section.ds-exercise-item-opened-header
				section.ds-exercise-item-opened-input
					md-input-container(md-no-float='')
						input(placeholder='Digite nome do exercício para inserí-lo' ng-model="bindModel.exerciseName")
				section.ds-exercise-item-opened-action
					md-button.md-raised.md-primary(ng-disabled="!bindModel.exerciseName" ng-click="addExercise(group);") Inserir Exercício
