section.ds-exercises-select-list
		section.ds-exercises-select-list-content(sv-root="serie" sv-part="lista")
			md-content.ds-exercise-select-list-scroll(scroll-glue="scroll.glued")
				section(ng-repeat="serie in lista")
					ds-exercise-select-item
				// ds-exercise-select-item(sv-element="serie")
