.admin-wrap
	col(12/12,gutter:0)
	height 100%
	.admin-aside
		col(2.5/12,gutter:0)
		box-sizing border-box
		height 100%
		+desktop()
			col(2/12,gutter:0)
		+hd()
			col(2/16,gutter:0)
		overflow-y auto
		border 1px solid palette('Grey','300')
		background-color white
		position relative
		.administration-action-back
			height 3.8em
			col(4/4,gutter:0)
			box-sizing border-box
			text-align center
			border-bottom 1px solid palette('Grey','300')
			// box-shadow 0 2px 4px -2px rgba(0,0,0,0.15)
			color palette('Blue','500')
			p
				position relative
				top -21px
		.perfil-administration
			col(4/4,gutter:0)
			box-sizing border-box
			text-align center
			margin-top 2em
			+desktop()
				margin-top 2.5em
			img
				border 1px solid palette('Grey','400')
				max-width 50%
				+desktop()
					max-width 60%
			.admin-perfil-title
				margin 0
				font-size 140%
				+desktop()
					font-size 160%
				font-weight bold
				color palette('Grey','700')
				line-height 120%
			.admin-perfil-subtitle
				color palette('Grey','500')
				font-size 80%
				line-height 100%
				font-style italic
		.perfil-administration-menu
			col(4/4,gutter:0)
			box-sizing border-box
			margin-top 1em
			+desktop()
				margin-top 2em
			padding-left .5em
			padding-right .5em
			ul
				list-style none
				padding 0
				margin 0
				border-right 2px solid  palette('Grey','300')  
				// box-sizing none
				li
					line-height 30px
					+above(700px)
						line-height 45px
					+desktop()
						line-height 50px
					font-size 105%
					color palette('Blue','500')
					padding-left 1em
					cursor pointer
					&.active
						color palette('Grey','800')
						font-weight bold
						border-right 2px solid rgb(255,64,129,1)
						position relative
						left 2px
						background-color palette('Grey','50')
						cursor auto
	.admin-content-wrap
		col(9.5/12,gutter:0)
		box-sizing border-box
		padding-right .2em
		padding-left .2em
		margin-top .3em
		+desktop()
			col(10/12,gutter:0)
			padding-right 2em
			padding-left 2em
		+above(1400px)
			padding-right 4em
			padding-left 4em
		+hd()
			col(14/16,gutter:0)
			padding-right 8em
			padding-left 8em
		md-card
			min-height:97vh
			// +tablet(orientation: portrait)
			// 	min-height:98vh
			md-card-content
				.admin-content
					.admin-content-menu
						col(10/10,gutter:0)
					.admin-content-menu-content
						col(10/10,gutter:0)
