.gym-content-staff-wrap
	col(12/12,gutter:0)
	box-sizing border-box
	padding-right 1em
	padding-left 1em
	+desktop()
		padding-right 3em
		padding-left 3em
	+hd()
		padding-right 5em
		padding-left 5em
	.gym-content-staff-add-action
		col(12/12,gutter:0)
		text-align right
		button.md-button
			width 30%
			min-width 15px
			min-height 33px
			font-weight bold
			line-height 33px
			margin 0
			font-size 100%
			+below(650px)
				width 40%
			+desktop()
				width 27%
				min-height 40px
				line-height 40px
				// font-size 100%
			+hd()
				width 20%
				min-height 43px
				line-height 43px
			ng-md-icon
				svg
					position relative
					vertical-align middle
					top -1px
					left -5px
					+desktop()
						width 30px
						height 30px
					
	.gym-content-staff-search
		col(12/12,gutter:0)
		box-sizing border-box
		margin-top 1em
		padding-right 1.5em
		padding-left 1.5em
		+desktop()
			margin-top 1.5em
			padding-right 3em
			padding-left 3em
	.gym-content-staff-content-wrap
		col(12/12,gutter:0)
		box-sizing border-box
		margin-top 1.5em
		.gym-content-staff-content
			col(12/12,gutter:0)
			md-content.gym-content-staff-scroll
				padding-top .5em
				max-height 63vh
				ul.gym-content-staff-list
					margin 0
					padding 0
					// margin-top .7em
					padding-left 4em
					padding-right 4em
					+desktop()
						padding-left 6em
						padding-right 6em
					+hd()
						padding-left 10em
						padding-right 10em
					list-style none
					li.gym-content-staff-item
						col(12/12,gutter:0)
						&.ng-enter, 
						&.ng-leave { 
						-webkit-animation: enter 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
						animation: enter 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
						display: block;
						position: relative;
						} 
						@keyframes enter {
							from {
								opacity: 0;
								height: 65px;
								left: -90px;
							}
							75% {
								opacity: 1;
								left: 15px;
							}
							to {
								opacity: 1;
								height: 75px;
								left: 0px;
							}
						}
						&.mg-leave.ng-leave-active,
						&.ng-enter {
							-webkit-transform: rotateX(-180deg) translatez(30px);
							-moz-transform: rotateX(-180deg) translatez(30px);
							-ms-transform: rotateX(-180deg) translatez(30px);
							-o-transform: rotateX(-180deg) translatez(30px);
							transform: rotateX(-180deg) translatez(30px);
							opacity: 0;
							height: 0px;
						}        
						 
						&.ng-enter.ng-enter-active,
						&.ng-leave {
							-webkit-transform: rotateX(0deg) translatez(30px);
							-moz-transform: rotateX(0deg) translatez(30px);
							-ms-transform: rotateX(0deg) translatez(30px);
							-o-transform: rotateX(0deg) translatez(30px);
							transform: rotateX(0deg) translatez(30px);
							opacity: 1;
							height: 30px;
						}

