.gym-content-members-wrap
	col(12/12,gutter:0)
	box-sizing border-box
	padding-right 1em
	padding-left 1em
	+desktop()
		padding-right 3em
		padding-left 3em
	+hd()
		padding-right 5em
		padding-left 5em
	.gym-content-members-add-action
		col(12/12,gutter:0)
		text-align right
		button.md-button
			width 36%
			min-width 15px
			min-height 34px
			font-weight bold
			line-height 34px
			margin 0
			font-size 100%
			+desktop()
				width 28%
				min-height 44px
				line-height 44px
				// font-size 100%
			+hd()
				width 22%
			ng-md-icon
				svg
					position relative
					vertical-align middle
					top -1px
					left -5px
					+desktop()
						width 30px
						height 30px
					
	.gym-content-members-search
		col(12/12,gutter:0)
		box-sizing border-box
		margin-top 1em
		padding-right 1.5em
		padding-left 1.5em
		+desktop()
			margin-top 1.5em
			padding-right 3em
			padding-left 3em
	.gym-content-members-content-wrap
		col(12/12,gutter:0)
		box-sizing border-box
		margin-top 1.5em
		.gym-content-members-content
			col(12/12,gutter:0)
			md-content.gym-content-members-scroll
				padding-top .5em
				max-height 63vh
				.gym-content-members-list
					padding-left 4em
					padding-right 4em
					+desktop()
						padding-left 6em
						padding-right 6em
					+hd()
						padding-left 10em
						padding-right 10em
					.gym-content-members-item
						col(12/12,gutter:0)
						&.ng-enter, 
						&.ng-leave
							// -webkit-animation: enter 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
							animation: enter 600ms 
							display: block;
							position: relative;
							// -webkit-animation 0.8s fadeInDown
							// -moz-animation 0.8s fadeInDown  
							// -o-animation 0.8s fadeInDown  
							// animation 0.8s fadeInDown  
							// opacity 0
						// @-webkit-keyframes enter {
						// 	from {
						// 		opacity: 0;
						// 		height: 40px;
						// 		left: -110px;
						// 	}
						// 	75% {
						// 		left: 15px;
						// 		height: 55px;
						// 	}
						// 	to {
						// 		opacity: 1;
						// 		height: 72px;
						// 		left: 0px;
						// 	}
						// }
						&.mg-leave.ng-leave-active,
						&.ng-enter {
							-webkit-transform: rotateX(-180deg) translatez(30px);
							-moz-transform: rotateX(-180deg) translatez(30px);
							-ms-transform: rotateX(-180deg) translatez(30px);
							-o-transform: rotateX(-180deg) translatez(30px);
							transform: rotateX(-180deg) translatez(30px);
							opacity: 0;
							height: 0px;
						}        
						 
						&.ng-enter.ng-enter-active,
						&.ng-leave {
							-webkit-transform: rotateX(0deg) translatez(30px);
							-moz-transform: rotateX(0deg) translatez(30px);
							-ms-transform: rotateX(0deg) translatez(30px);
							-o-transform: rotateX(0deg) translatez(30px);
							transform: rotateX(0deg) translatez(30px);
							opacity: 1;
							height: 30px;
						}


