.owner-admin-dialog-wrap
	col(12/12,gutter:0)
	box-sizing border-box
	padding-right 1em
	padding-left 1em
	+desktop()
		padding-right 4em
		padding-left 4em
	+hd()
		padding-right 5em
		padding-left 5em
