.staff-admin-dialog-wrap
	col(12/12,gutter:0)
	box-sizing border-box
	padding-right 1em
	padding-left 1em
	+desktop()
		padding-right 4em
		padding-left 4em
	+hd()
		padding-right 5em
		padding-left 5em
	.staff-admin-dialog-content
		col(12/12,gutter:0)
		.staff-admin-dialog-content--image
			col(6/12,gutter:0)
			box-sizing border-box
			text-align center
			padding-top 1em
			display block
			img
				max-width 90%
				display inline-block
				border 1px solid palette('Grey','300')
		.staff-admin-dialog-content--perfil
			col(6/12,gutter:0)
			.staff-admin-dialog-content--name
				col(6/6,gutter:0)
			.staff-admin-dialog-content--surname
				col(6/6,gutter:0)
		.staff-admin-dialog-content--email
			col(12/12,gutter:0)
		.staff-admin-dialog-content--birthday
			col(6/12,gutter:0)
			box-sizing border-box
			padding-right 1em
		.staff-admin-dialog-content--phone
			col(6/12,gutter:0)
			box-sizing border-box
			padding-left 1em
		.staff-admin-dialog-content--permission
			col(12/12,gutter:0)

