.ds-exercise-select-item
	col(12/12,gutter:0)
	box-sizing border-box
	margin-bottom 10px
	+desktop()
		margin-bottom 15px
	.ds-exercise-item-wrap
		col(12/12,gutter:0)
		box-sizing border-box
		border 1px solid palette('Blue Grey','100')
		// border 1px solid #d8d8d8
		&.active
			// box-shadow 0px 2px 7px rgba(0,0,0,0.15)
			// border 2px solid palette('Blue Grey','100')
			margin-top 7px
			margin-bottom 7px
		.ds-exercise-item-closed-wrap
			col(12/12,gutter:0)
			.ds-exercise-item-closed
				col(12/12,gutter:0)
				box-sizing border-box
				padding-right 10px
				padding-left 10px
				line-height 40px
				height 40px
				color palette('Grey','800')
				background-color palette('Blue Grey','50')
				+desktop()
					line-height 44px
					height 44px
				.ds-exercise-item-closed-title
					col(5/12,gutter:0)
					font-size 110%
					font-weight bold
				.ds-exercise-item-closed-resume
					col(7/12,gutter:0)
					ng-md-icon
						svg
							position relative
							top 5px
							left -2px
		.ds-exercise-item-opened-wrap
			col(12/12,gutter:0)
			box-sizing border-box
			.ds-exercise-item-opened
				col(12/12,gutter:0)
				text-align right
				box-sizing border-box
				line-height 50px
				height 50px
				padding-right 10px
				padding-left 10px
				color palette('Grey','800')
				background-color palette('Blue Grey','50')
				border-bottom 1px solid palette('Blue Grey','100')
				.ds-exercise-item-opened-title
					col(3/12,gutter:0)
					+desktop()
						col(5/12,gutter:0)
					font-size 110%
					font-weight bold
					text-align left !important
				.ds-exercise-item-opened-resume
					col(9/12,gutter:0)
					+desktop()
						col(7/12,gutter:0)
			.ds-exercise-item-opened-content-wrap
				col(12/12,gutter:0)
				box-sizing border-box
				padding-right .5em
				padding-left .5em
				padding-top .7em
				padding-bottom .7em
				+desktop()
					padding-right 1em
					padding-left 1em
				.ds-exercise-item-opened-content
					col(12/12,gutter:0)
					md-content.ds-exercise-select-item-scroll
						height 18vh
						span
							border-radius 16px
							padding-right 5px
							padding-left 5px
							margin-right 5px
							line-height 26px
							vertical-align middle
							margin-top 8px
							text-align left
							display inline-block
							background-color palette('Grey','100')
							border 1px solid palette('Grey', '300')
							font-size 75%
							// font-weight bold
							color black
							// &:hover
							// 	background palette('Grey','50')
							ng-md-icon
								svg
									position relative
									cursor pointer
									top 5px
									// +desktop()
									// 	width 13%
									// 	height 14%
									// padding-left 5px
									// margin-right 5px
									&:hover
										fill palette('Red','600')
										// background-color palette('Grey','200')
			.ds-exercise-item-opened-header
				col(12/12,gutter:0)
				text-align right
				padding-right 1em
				padding-left 1em
				+desktop()
					padding-right 2em
					padding-left 2em
				box-sizing border-box
				border-top 1px solid palette('Grey','200')
				background-color palette('Grey','50')
				.ds-exercise-item-opened-input
					col(7/12,gutter:0)
					+desktop()
						col(8.5/12,gutter:0)
					md-input-container
						padding 0
						padding-top 0.6em
						margin 0
				.ds-exercise-item-opened-action
					col(5/12,gutter:0)
					+desktop()
						col(3.5/12,gutter:0)

