.ds-exercises-select-list
	col(12/12,gutter:0)
	position relative
	.ds-exercises-select-list-content
		col(12/12,gutter:0)
		md-content.ds-exercise-select-list-scroll
			box-sizing border-box
			padding-left .5em
			padding-right .5em
			+desktop()
				padding-left 2em
				padding-right 2em
			+hd()
				padding-left 4em
				padding-right 4em
			height 70vh
			+tablet(orientation: portrait)
				height 76vh
