.ds-exercises-select-list
	col(12/12,gutter:0)
	position relative
	.ds-exercises-select-list-content
		col(12/12,gutter:0)
		md-content.ds-exercise-select-list-scroll
			height 70vh
			+tablet(orientation: portrait)
				height 76vh
